label {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3em;
    margin-block: 0.5em 0.1em;
    text-align: center;

    span {
        margin-bottom: 0.3em;
    }

    select {
        width: 100%;
        padding: 1em;
        background-color: var(--secondary-clr);
        font-size: 1.9rem;
        border: 1px solid #ababaf;
        border-radius: 0.3em;
        cursor: pointer;

        &:hover {
            background-color: #1a151f;
        }
    }
}